    <!-- Standard metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {%- if site.title == "blank" -%}
        {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
    {%- else -%}
        {{ site.title }}
    {%- endif -%}
    </title>
    <meta name="author" content="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}" />
    <meta name="description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description }}{%- endif -%}" />
